{% extends "network/auctionsLayout.html" %}

{% block body %}

<style>
    img {
        position: relative;
        height: 250px;
        left: 60px;
    }

    .box {
        width: 1200px;
        border: 1px solid rgb(238, 232, 232);
        height: 253px;
        position: relative;
        right: 30px;
        border-radius: 5px;
        }

    #title{
        position: relative;
        bottom: 230px;
        left: 550px;
        font-weight: bold;
        font-family: Arial;
    }
    #price {
        position: relative;
        bottom: 240px;
        left: 550px;
        font-weight: bold;
        font-size: 15px;
        font-family: Helvetica;
    }

    #info {
        position: relative;
        bottom: 180px;
        left: 550px;
        font-family: Arial, Helvetica, sans-serif;
    }

</style>


    <h3>Watch List</h3>

    {% if error %}
    <div class="alert alert-danger" role="alert">
       Your Watchlist is empty.
    </div> 
    {% endif %}

    {% for product in watchlist %}
        <ul>
            <a href="/listings/{{product.listing.id}}">
            <div style="display:inline-block;" class='box'>
                <img src = "{{product.listing.image}}" >
                <div id = 'title'>{{product.listing.title}}</div>
                <div id = 'info'>{{product.listing.description}}</div>
                <div id = 'price'>Price: ${{product.listing.price}}</div>
                <div id='title>'>{{time}}</div>
            </div>
            </a> 
        </ul>
    {% endfor %}


{% endblock %}